<div>
  <h4>商品一覧</h4>
  <h5>（全<%= @items.count %>件）</h5>
</div>

<div>
  <% @items.each do |item| %>
    <div>
      <div>
        <%= image_tag @items.iamge %>
      </div>
      <div>
        <%= @items.name %>
      </div>
      <div>
        ￥<%= @items.price %>
      </div>
    </div>
    <% end %>
</div>